<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>-PFP-</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="planificador.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logopfp"><img src="Venancio-1.png"  width="80" height="80" ></label>
      <label class="logo">Planificación Financiera Personal</label>
      <ul>
        <li routerLinkActive="active"><a [routerLink]= "['/Bienvenida']">Inicio</a></li>
        <li routerLinkActive="active"><a [routerLink]= "['/Verificador']">Verificador de Precios</a></li>
        <li routerLinkActive="active"><a class="active" [routerLink]= "['/Planificador']">Planificador</a></li>
        <li routerLinkActive="active"><a [routerLink]= "['/Contenido']">Contenido</a></li>
        <li routerLinkActive="active"><a [routerLink]= "['/Mconsejos']">Consejos</a></li>
      </ul>
    </nav>
    <h1 class="welcome">Pasos para realizar una Planificación Financiera Personal</h1>
    
    <div id="general">
        <br>
        <br>
        <br>
        <br>
        <br>
      <table CELLPADDING=0 CELLSPACING=0 style="margin: 0 auto;">
        <tr>
            <td colspan="2" width=1400 height=100 bgcolor=#DFF6FF><br><p class="justify" style="margin: 0 80px;">Es importante realizar una planificación para alcanzar objetivos financieros,
              como un proceso continuo que ayude en la toma de decisiones razonables sobre el uso del dinero. Tu plan te guiará en el camino hacia la consecución de 
              tus metas, tus sueños y deseos, siempre de acuerdo a tus preferencias y valores.
              <br>
              <br>
              A continuación tienes un ejemplo de cómo planificar, asimismo un indicador en metodología semáforo que te ayudará a identificar qué acción debes tomar para
              realizar un plan que te ayude a tener una buena economía y calidad de vida.

              Además de visualizar el ejemplo de planificación, para tu comodidad puedes <span style="color:red;font-weight:bold; font-size: 25px;">
              <a href="https://docs.google.com/spreadsheets/d/1AWHvwjISa_8iPKHEZ0FN78CijrmBy6bH/edit?usp=sharing&ouid=114942206623488625069&rtpof=true&sd=true" target="_blank">
                descargarlo en formato Excel</a></span> y llenarlo tú mismo!
              <br>
              <br>
              <br>
              <br>
            </p></td>
        </tr>
        <tr>
          <td width=450 height=100 bgcolor=#DFF6FF><img src="PASO1INGRESOSJPG.jpg"  width="450" height="297" style="margin: 0px 290px;"></td>
          <td width=450 height=100 bgcolor=#DFF6FF><img src="paso3REALIDADJPG.jpg"  width="450" height="297" style="margin: 5px 100px;"></td>
      </tr>
        <tr>
            <td rowspan="2" bgcolor=#DFF6FF><img src="paso2PAGOSJPG.jpg"  width="811" height="1150"></td>
            
        </tr>
      
        <tr>
            <td  width=547 height=290 bgcolor=#DFF6FF><img src="paso4INDICADORESJPG.jpg"  width="573" height="1113" style="margin: 0px 0px;"></td>
        </tr>
      </table>
    </div>
  </body>
</html>