<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Consejos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mconsejos.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logopfp"><img src="Venancio-1.png"  width="80" height="80" ></label>
      <label class="logo">Planificación Financiera Personal</label>
      <ul>
        <li routerLinkActive="active"><a [routerLink]= "['/Bienvenida']">Inicio</a></li>
        <li routerLinkActive="active"><a [routerLink]= "['/Verificador']">Verificador de Precios</a></li>
        <li routerLinkActive="active"><a [routerLink]= "['/Planificador']">Planificador</a></li>
        <li routerLinkActive="active"><a [routerLink]= "['/Contenido']">Contenido</a></li>
        <li routerLinkActive="active"><a class="active" [routerLink]= "['/Mconsejos']">Consejos</a></li>
      </ul>
    </nav>
    <h1 class="welcome">Consejos para administrar tus bienes economicos y mejorar tu calidad de vida</h1> 
    <div id="general">
      <br>
      <br>
      <br>
      <br>
      <br>
     
      <table CELLPADDING=100 CELLSPACING=0 style="margin: 0 auto;" >
        <TR>
            <TD class="titulos" colspan="2" width="400" height="30"><h3>¿Cómo ahorrar energía eléctrica?</h3></TD>
            <td></td>
            <TD class="titulos" colspan="2" width="400" height="30"><h3>¿Cómo salir de deudas?</h3></TD>
            <td></td>
            <TD class="titulos" colspan="2" width="400" height="30"><h3>¿Cómo crear un presupuesto?</h3></TD>
        </TR>
        <tr>
            <TD width="175" height="100"><img src="energíajpg.jpg"  width=175 height=240 style="margin: 5px 1px;"></TD>
            <TD width="400" height="100" class="decolor"><p class="justify" style="margin: 0 3px;">
              1.	Utilice la energía eléctrica únicamente cuando sea necesario.<br>
              2.	Apague y desconecte todos los electrodomésticos cuando sean utilizados.<br>
              3.	Utilice bombillos ahorradores de energía.<br>
              4.	Si compra electrodomésticos, prefiera los que tienen etiquetas que garantizan el ahorro de energía.
              </p></TD>
              <TD width="40" height="100"></TD>
              <TD width="175" height="100"><img src="salideudapng.png"  width="175" height="240" style="margin: 5px 1px;"></TD>
              <TD width="400" height="100" class="decolor"><p class="justify" style="margin: 0 3px;">
                1.	Tenga en cuenta el total de lo que debe y registre cada una de sus deudas.<br>
                2.	Organice sus gastos y planifique.<br>
                3.	Aplique el método Bola de nieve: este método le permite ir saliendo de 
                deudas en menos tiempo y en orden ascendente, es decir, de la más pequeña a la más grande.<br>
                </p></TD>
              <TD width="40" height="100"></TD>
              <TD width="175" height="100"><img src="pagardeudajpg.jpg"  width="175" height="240" style="margin: 5px 1px;"></TD>
              <TD width="400" height="100" class="decolor"><p class="justify" style="margin: 0 3px;">
                1.	Calcule su ingreso neto.<br>
                2.	Dé seguimiento a sus gastos.<br>
                3.	Establezca metas realistas.<br>
                4.	Elabore un plan.<br>
                5.	Ajuste sus gastos para mantenerse dentro del presupuesto.<br>
                6.	Revise su presupuesto regularmente.
                </p></TD>    
        </tr>
        <TR>
            <TD colspan="8" height="30"></TD>
        </TR>
        <TR>
            <TD class="titulos" colspan="2" width="400" height="30"><h3>¿Cómo priorizar objetivos?</h3></TD>
            <td></td>
            <TD class="titulos" colspan="2" width="400" height="30"><h3>¿Cómo ahorrar agua potable?</h3></TD>
            <td></td>
            <TD class="titulos" colspan="2" width="400" height="30"><h3>¿Cómo invertir?</h3></TD>
        </TR>
        <tr>
          <TD width="175" height="100"><img src="metaspng.png"  width="175" height="322" style="margin: 5px 1px;"></TD>
          <TD width="400" height="100" class="decolor"><p class="justify" style="margin: 0 3px;">Para establecer objetivos claros, necesita poder 
            asignar una descripción precisa a cada tarea, 
            asignándole a cada una un grado de complejidad y una lista de requisitos previos y dependencias. Cada tarea debe ser clara para 
            saber en qué consiste exactamente y qué aportará a la meta mayor. Es importante tener un objetivo 
            general y poder definir claramente el objetivo de cada una de las tareas mencionadas.</p></TD>
            <TD width="40" height="100"></TD>
            <TD width="175" height="100"><img src="aguajpg.jpg"  width="175" height="322" style="margin: 5px 1px;"></TD>
            <TD width="400" height="100" class="decolor"><p class="justify" style="margin: 0 3px;">
              1.	Reutilice el agua, contar con una cubeta en su regadera mientras se ducha le llevará a recolectar 
              aguas residuales, que puede utilizar para regar plantas o para descargar el inodoro.<br>
              2.	Cierre la llave del lavabo mientras se enjabona las manos, rasura o lava los dientes.<br>
              3.	Use cubetas con agua para lavar coches y banquetas en vez de usar manguera.<br>
              4.	Repare las tuberías y llaves que goteen en cocinas y baños.
              </p></TD>
            <TD width="40" height="100"></TD>
            <TD width="175" height="100"><img src="inversionjpg.jpg"  width="175" height="322" style="margin: 5px 1px;"></TD>
            <TD width="400" height="100" class="decolor"><p class="justify" style="margin: 0 3px;">
              1.	Haga un plan y fije sus metas de rentabilidad.<br>
              2.	Determine el punto de partida.<br>
              3.	Cada cierto tiempo monitoree el avance de sus inversiones.<br>
              4.	Solo coloque su dinero con instituciones que estén debidamente supervisadas, reguladas y autorizadas por el estado.<br>
              5.	Incremente su cultura financiera. Uno de los mejores consejos es no hacer movimientos en los instrumentos que no conoce o no sabe cómo funcionan.<br>
              </p></TD>
      </tr>
        <TR>
          <TD colspan="8" height="30"></TD>
        </TR>
        <TR>
            <TD class="titulos" colspan="2" width="400" height="30"><h3>¿Cómo establecer metas?</h3></TD>
            <td></td>
            <TD class="titulos" colspan="2" width="400" height="30"><h3>¿Cómo evitar compras compulsivas?</h3></TD>
            <td></td>
            <TD class="titulos" colspan="2" width="400" height="30"><h3>¿Cómo detectar necesidades?</h3></TD>
        </TR>
        <tr>
          <TD width="175" height="100"><img src="metajpg.jpg"  width="175" height="340" style="margin: 5px 1px;"></TD>
          <TD width="400" height="100" class="decolor"><p class="justify" style="margin: 0 3px;">
            •	Defina un resultado específico a lograr (pensando en el beneficio).<br>
            •	Determine concretamente un tiempo para lograrlo (plazo, fecha límite).<br>
            •	Indique a grandes rasgos un plan de acción consecuente.<br>
            •	Considere posibles acciones de contingencia o Plan B.
            </p></TD>
          <TD width="40" height="100"></TD>
          <TD width="175" height="100"><img src="nocomprasjpg.jpeg"  width="175" height="340" style="margin: 5px 1px;"></TD>
          <TD width="400" height="100" class="decolor"><p class="justify" style="margin: 0 3px;">
            1.	Marque un límite de gasto mensual para caprichos.<br>
            2.	Investigue sobre aquellos productos que tenga en mente comprar.<br>
            3.	Antes de salir, realice una lista previa con aquello que realmente es necesario.<br>
            4.	Planifique a medio, corto y largo plazo. 
            </p></TD>
          <TD width="40" height="100"></TD>
          <TD width="175" height="100"><img src="nesecidadesjpg.jpg"  width="175" height="340" style="margin: 5px 1px;"></TD>
          <TD width="400" height="100" class="decolor"><p class="justify" style="margin: 0 3px;">Para identificar un gasto necesario debemos 
            separar las necesidades de los deseos. Para ello, 
            basta preguntarse cada vez que vaya a hacer una compra o reciba una oferta irresistible: “¿realmente necesito esto?” 
            Es la pregunta más sabia que uno puede hacerse, y si la respuesta es “no”, mejor deje a un lado la oferta sin hacer más 
            preguntas al vendedor. En el grupo de necesidades humanas básicas tenemos: alimentación, 
            vestimenta, vivienda, salud, educación, comunicación y entretenimiento.</p></TD>
      </tr>
        <TR>
          <TD colspan="8" height="30"></TD>
        </TR>
        <TR>
            <TD class="titulos" colspan="2" width="400" height="30"><h3>¿Cómo organizar las finanzas?</h3></TD>
            <td></td>
            <TD class="titulos" colspan="2" width="400" height="30"><h3>¿Cómo crear un fondo de emergencias?</h3></TD>
            <td></td>
            <TD class="titulos" colspan="2" width="400" height="30"><h3>¿Cómo determinar la situación financiera actual?</h3></TD>
        </TR>
        <tr>
          <TD width="175" height="100"><img src="presupuestojpg.jpg"  width="175" height="360" style="margin: 5px 1px;"></TD>
          <TD width="400" height="100" class="decolor"><p class="justify" style="margin: 0 3px;">
            1.	Defina objetivos financieros y elabore un presupuesto.<br>
            2.	Cree metas de ahorro.<br>
            3.	Invierta en aquello que esté dispuesto a perder.
            </p></TD>
          <TD width="40" height="100"></TD>
          <TD width="175" height="100"><img src="ahorrosjpg.jpeg"  width="175" height="360" style="margin: 5px 1px;"></TD>
          <TD width="400" height="100" class="decolor"><p class="justify" style="margin: 0 3px;">
            1.	Elija la cantidad que desea pre ahorrar todos los meses a principio de mes para su fondo de emergencia.<br>
            2.	Ordene una transferencia periódica a principio de mes de la cuenta donde recibe la nómina a otra diferente.<br>
            3.	Vea cómo su fondo de emergencia se va creando sólo y alcanza la cantidad que elija.
            </p></TD>
          <TD width="40" height="100"></TD>
          <TD width="175" height="100"><img src="actualjpeg.jpeg"  width="175" height="360" style="margin: 5px 1px;"></TD>
          <TD width="400" height="100" class="decolor"><p class="justify" style="margin: 0 3px;">
            Lo primero que debe saber es dónde está situado económicamente, es decir, cuál es su foto financiera actual. 
            Para ello, vamos a recurrir a tres preguntas básicas:<br>
            1.	¿cuál es su flujo neto personal y su capacidad de ahorro mensual?<br>
            2.	¿cuál es su patrimonio neto?<br>
            3.	¿Qué conocimientos tiene sobre dinero, capital y educación financiera?<br>
            
            Si las respuestas no han sido favorables, es momento de hacerse cargo de su barco financiero, 
            saber hacia dónde va financieramente y ver el lugar en el que quiere estar en el futuro.
            </p></TD>
      </tr>
      </table>
    </div>
  </body>
</html>