<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Verificador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="verificador.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logopfp"><img src="Venancio-1.png"  width="80" height="80" ></label>
      <label class="logo">Planificación Financiera Personal</label>
      <ul>
        <li routerLinkActive="active"><a [routerLink]= "['/Bienvenida']">Inicio</a></li>
        <li routerLinkActive="active"><a class="active" [routerLink]= "['/Verificador']">Verificador de Precios</a></li>
        <li routerLinkActive="active"><a [routerLink]= "['/Planificador']">Planificador</a></li>
        <li routerLinkActive="active"><a [routerLink]= "['/Contenido']">Contenido</a></li>
        <li routerLinkActive="active"><a [routerLink]= "['/Mconsejos']">Consejos</a></li>
      </ul>
    </nav>
    <h1 class="welcome">Verificador de Precios de Referencia en Guatemala
    </h1>
    
    <div id="general">
      
      <div id="cuadroexplicar">
      <h3 class="justify">¿Buscas el precio de referencia de algún producto o servicio?</h3>
      <br>
      <p class="justify">
        En este apartado se encuentran enlaces que te dirigirán a la página web oficial de entidades externas a -PFP-,
        dichas paginas te permitirán verificar el precio de un producto o servicio según el tema de tu interés.
      </p>
      <br>
      <p class="justify">A continuación,  se encuentran organizados por tema: Productos agropecuarios, energía eléctrica,
        combustible, gas propano y canasta básica. Al escoger el tema, se abrirá una pestaña nueva con la información disponible.
      </p>
      <br>
      <br>
      <h3 class="justify">Verificar el precio del producto o servicio de tu interés, es fácil y sencillo que tan solo debes dar clic sobre la imagen de la entidad correspondiente</h3>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <table  BORDER CELLPADDING=100 CELLSPACING=0 style="margin: 0 auto;" >
        <TR>
          <TD><a href="https://precios.maga.gob.gt/diarios/diarios.html" target="_blank"><img src="MAGAPNG.png"  width="300" height="150" ></a></TD>
          <td><a href="https://precios.maga.gob.gt/diarios/diarios.html" target="_blank"><img src="prodctosagropecuariosjpg.jpg"  width="150" height="150"></a></td>
          <TD bgcolor="#FFD369" width=200 ><p class="justify">Consultar precios de frutas, verduras, carné y pollo, etc.</p></TD>
          <TD width="150" BORDER CELLPADDING=100 CELLSPACING=0></TD>
          <TD><a href="https://www.cnee.gob.gt/Calculadora/Resoluciones.php" target="_blank"><img src="cneejpg2.JPG"  width="300" height="150"></a></TD>
          <td><a href="https://www.cnee.gob.gt/Calculadora/Resoluciones.php" target="_blank"><img src="energiaelectricajpg.jpg"  width="150" height="150" ></a></td>
          <TD bgcolor="#FFD369" width=200 ><p class="justify">Consultar tarifas de energía eléctrica EEGSA, DEORSA, DEOCSA y Empresas Eléctricas Municipales a nivel Nacional</p></TD>
        </TR>
      </table>
      <br>
      <br>
      <table  BORDER CELLPADDING=100 CELLSPACING=0 style="margin: 0 auto;" >
        <TR>
          <TD><a href="https://mem.gob.gt/precios-petroleo-combustibles/" target="_blank"><img src="MEMPNG.png"  width="300" height="150" ></a></TD>
          <td><a href="https://mem.gob.gt/precios-petroleo-combustibles/" target="_blank"><img src="combustibleygasjpg.jpg"  width="150" height="150" ></a></td>
          <TD bgcolor="#FFD369" width=200 ><p class="justify">Consultar precios de gasolina, diésel y gas propano</p></TD>
          <TD width="150"></TD>
          <TD><a href="https://www.ine.gob.gt/canasta-basica-alimentaria/" target="_blank"><img src="INEPNG.png"  width="300" height="150"></a></TD>
          <td><a href="https://www.ine.gob.gt/canasta-basica-alimentaria/" target="_blank"><img src="canastabasicajpg.jpg"  width="150" height="150" ></a></td>
          <TD bgcolor="#FFD369" width=200 ><p class="justify">Consultar precios de leche, huevos, carne, cereales, verduras, frutas, legumbres y otros artículos como la sal o el café</p></TD>
        </TR>
        <TR>
      </table>



    </div>
  </body>
</html>